<launch>
    <arg name="robot_ip" />
    <arg name="load_gripper" />
    <arg name="arm_id" default="fr3" />
    <arg name="robot" default="fr3" />
    <arg name="transmission" default="position" />

    <include file="$(find panda_moveit_config)/launch/franka_control.launch" pass_all_args="true" />
    <node name='recovery_Fr3' pkg="ROS" type="recovery_node" output="screen" />

    <rosparam file="$(find franka_example_controllers)/config/franka_example_controllers.yaml" subst_value="true" />

    <node pkg="controller_manager"
    type="spawner"
    name="$(arg arm_id)_controller_spawner_2"
    respawn="false" output="screen"
    args="--stopped cartesian_impedance_example_controller"
    />

    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" required="false" />

</launch>
